<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ansible 学习笔记</title>
<link rel="stylesheet" href="../../styles/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../styles/slide.css">
</head>
<body>
<textarea id="source">
name: inverse
layout: true
class: theme-inverse

---

class: center, middle

# Ansible 学习笔记

Ansible 自动化运维

---

# 大纲

* [Ansible 架构及特点](#arch)
* [Ansible 安装与配置](#start)
* [Ansible 组件介绍](#component)
* [Playbook 详解](#playbook)
* [Ansible 最佳实践](#best-practice)
* 扩展 Ansible
* [用 ansible_vault 保护敏感数据](#vault)
* Ansible 与云计算
* 部署 Zabbix 组件
* 部署 HAProxy 与 LAMP 架构
* 大数据环境的应用实战
* Ansible 管理 Windows 系统
* 网络自动化管理的应用实战
* Ansible API

---

name: arch

## Ansible 架构及特点

.content[
* [Ansible 软件及公司](#arch-introduction)
* [Ansible 架构模式](#arch-architecture)
* [Ansible 特性](#arch-feature)
* [Ansible 与 DevOps](#arch-devops)
]

---

name: arch-introduction

.sidebar[
### 架构及特点

* 应用领域
]

.content[
Ansible 的编排引擎可以出色地完成配置管理、流程控制、资源部署等多方面的工作。

与其它 IT 自动化产品比较， Ansible 为你提供了一种不需要安装客户端软件、管理简便、功能强大的
基础架构配置、维护工具。
]

---

.sidebar[
### 架构及特点

* 应用领域
* 设计理念
]

.content[
Ansible 基于 Python 语言实现，由 Paramiko 和 PyYAML 两个核心模块构建。其设计理念有：

* 安装部署过程特别简单，学习曲线很平坦
* 管理主机便捷，支持多台主机并行管理
* 避免在被管主机上安装客户代理、打开额外端口，采用无代理方式，只是利用现有的 SSH 后台进程
* 用于描述架构的语言无论对机器还是对人都是友好的
* 关注安全，很容易对执行的内容进行审计、评估、重写
* 能够立即管理远程被管主机，不需要预先安装任何软件
* 不仅仅支持 Python ,可运行使用任何动态语言开发模块
* 非 root 帐户也可以使用
* 成为最简单、易用的 IT 自动化系统
]

---

.sidebar[
### 架构及特点

* 应用领域
* 设计理念
* 公司服务
]

.content[
* Ansible 健康检查服务
* 协助重大迁移服务
* 推进 IT 自动化项目
* 客户咨询服务
* Ansible 培训服务
]

---

name: arch-architecture

.sidebar[
### 架构模式

* 管理方式
]

.content[
Ansible 是一个模型驱动的配置管理器，支持多节点发布、远程任务执行。
默认使用 SSH 进行远程连接。
无需在被管节点上安装附加软件，可使用各种编程语言进行扩展。

Ansible 管理系统由控制主机和一组被管节点组成。
控制主机直接通过 SSH 控制被管节点，被管节点通过 Ansible 的资源清单(`inventory`)来进行分组管理。

Ansible 的配置管理脚本称为 playbook ,在 playbook 中描述了包含被管节点的 hosts 和
对这些 hosts 按照顺序执行的任务列表(task)。
]

---

.sidebar[
### 架构模式

* 管理方式
* 系统架构
]

.content[
![](./images/ansible_arch.png)
]

---

.sidebar[
### 架构模式

* 管理方式
* 系统架构
* 任务执行模式
]

.content[
* ad-hoc - 批量执行单个模块的任务
* playbook - 组合多个 task 的集合来完成一类任务
]

---

name: arch-feature

.sidebar[
### 架构模式

* 功能特性
]

.content[
* 应用代码自动化部署
* 系统管理配置自动化
* 支持持续交付自动化
* 支持云计算、大数据平台环境
* 轻量级，无需在客户端安装代理，更新时只需在控制机上进行一次更新即可
* 批量任务执行可以写成脚本，不用分发到远程就可以执行
* 使用 Python 编写，维护更简单
* 支持非 `root` 用户管理操作，支持 `sudo`
]

---

.sidebar[
### 架构模式

* 功能特性
* 特点
]

.content[
1. 语法简单易读
2. 无需在被管节点安装客户端软件
    * 提高网络安全
    * 可以使用非 root 用户访问(支持 sudo)
    * 限制传输潜在敏感数据
    * 凭证隔离(Credential Segragation)
    * 去中心化
    * 没有 『管理的管理程序』的问题
    * 管理服务器的可扩展性
    * 资源的利用
    * 防火墙的友好性和确定性
3. 基于推送的方式
4. 方便管理小规模场景
5. 内置大量模块
6. 非常轻量级的抽象层
]

---

name: start

.sidebar[
### 安装与配置

* 安装 Ansible
]

.content[
详见[官方安装说明](http://docs.ansible.com/ansible/latest/intro_installation.html)
]

---

.sidebar[
### 安装与配置

* 安装 Ansible
* 配置运行环境
]

.content[
Ansible 配置文件以 ini 格式存储配置数据，在 Ansible 中几乎所有配置项都可以通过
Ansible 的 playbook 或环境变量来重新赋值。配置文件查找顺序：

* `ANSIBLE_CONFIG` 环境变量
* `./ansible.cfg` 当前目录下的 ansible.cfg 配置文件
* `~/.ansible.cfg` 用户目录下的 .ansible.cfg 配置文件
* `/etc/ansible/ansible.cfg` 全局 ansible.cfg 配置文件
]

---

.sidebar[
### 安装与配置

* 安装 Ansible
* 配置运行环境
]

.content[
#### 配置 SSH 无密码访问

(1) 在控制主机上创建密钥

```bash
ssh-kengen -t rsa
```

(2) 使用 `ssh-copy-id` 下发密钥

```bash
ssh-copy-id -i /home/yoyobill/.ssh/id_rsa.pub leke@192.168.70.186
```

(3) 验证无密码访问是否成功

```bash
ssh leke@192.168.70.186
```
]

---

.sidebar[
### 安装与配置

* 安装 Ansible
* 配置运行环境
* 小试身手
]

.content[
查看版本：

```bash
ansible --version
```

联通性测试：

(1) 写入 `/etc/ansible/hosts`

```ini
[server]
192.168.70.186
```
(2) 测试联通性

```bash
ansible 192.168.70.186 -m ping
```
]

---

.sidebar[
### 安装与配置

* 安装 Ansible
* 配置运行环境
* 小试身手
* 获取帮助
]

.content[
通过 -h 参数查看帮助：

```bash
ansible -h
```

通过 `ansible-doc` 查看文档帮助：

```bash
ansible-doc -h
```

通过 `-vvv` 或 `-vvvv` 查看详细输出结果：

```bash
ansible server -i inventory.cfg -m ping -vvv
```
]

---

name: component

.sidebar[
### Ansible 组件
]

.content[
* Ansible Inventory
* Ansible ad-hoc 命令
* Ansible playbook
* Ansible facts
* Ansible role
* Ansible Galaxy
]

---

.sidebar[
### Ansible 组件

* Inventory
]

.content[
大规模配置管理工作中需要管理不同业务的不同机器，这些机器的信息都存放在 Ansible 的 Inventory 组件里。

默认的 Inventory 是 ini 格式的 `/etc/ansible/hosts` 静态文件，
也可以通过 `ANSIBLE_HOSTS` 环境变量或在运行 `ansible`/`ansible-playbook` 时通过 `-i` 参数临时指定。
]

---

.sidebar[
### Ansible 组件

* Inventory
]

.content[
#### 单个 Inventory 文件

```ini
192.168.70.186 ansible_ssh_user=leke
[sheet]
192.168.70.186
[sheet:vars]
ansible_ssh_pass=cnstrong
[ansible:children]
sheet
```
]

---

.sidebar[
### Ansible 组件

* Inventory
]

.content[
#### 多个 Inventory 文件

修改 `ansible.cfg` 中 `hosts` 文件的定义，或者使用 `ANSIBLE_HOSTS` 环境变量定义，将其指向一个目录。

给定 inventory 目录：

```
inventory/
|-- docker
|-- hosts
```

修改 `ansible.cfg` 中的 `inventory` 值：

```ini
inventory=/home/yoyobill/inventory/
```

使用：

```bash
ansible docker --list-hosts
```

]

---

.sidebar[
### Ansible 组件

* Inventory
]

.content[
#### 动态 Inventory

可以将 `ansible.cfg` 中的 `inventory` 值改成一个执行脚本，这个脚本可以支持任何编程语言，
但脚本的使用参数和执行结果有一定的规范。

这个脚本需要支持两个参数：

* `--list` 或 `-l` ，这个参数运行后会显示所有的主机及主机组的信息(JSON 格式)
* `--host` 或 `-H` ，这个参数后面需指定一个 host ，运行结果
会返回这台主机的所有信息(包括认证信息、主机变量等， JSON 格式)

]

---

.sidebar[
### Ansible 组件

* Inventory
]

.content[
#### inventory 内置参数
]

---

.sidebar[
### Ansible 组件

* Inventory
* ad-hoc 命令
]

.content[
#### 执行命令

Ansible 自带很多模块，可以直接使用这些模块。

Ansible 命令都是并发执行的，可以针对目标主机执行任何命令

默认并发数由 `ansible.cfg` 中的 `forks` 值控制，也可以通过 `-f` 指定并发数：

```bash
ansible docker -m shell -a 'uname -r' -f 5 -o
```
]

---

.sidebar[
### Ansible 组件

* Inventory
* ad-hoc 命令
]

.content[
#### 执行命令

可以使用 Ansible 的异步执行功能来执行， `-P 0` 的情况下会直接返回 `job_id` ：

```bash
ansible docker -B 120 -P 0 -m shell -a 'sleep 10;hostname' -f 5 -o
```

可以通过 `async_status` 模块根据 `job_id` 来查看异步任务的状态和结果：

```bash
ansible 192.168.70.186 -m async_status -a 'jid=288872560652.1096'
```

当 `-P` 参数大于 0 时，Ansible 会自动根据 `job_id` 去轮询查询结果：

```bash
ansible docker -B 120 -P 1 -m shell -a 'sleep 5;hostname' -f 5 -o
```
]

---

.sidebar[
### Ansible 组件

* Inventory
* ad-hoc 命令
]

.content[
#### 复制文件

可以使用 `copy` 模块批量下发文件，文件的变化通过 MD5 值来判断：

```bash
ansible docker -m copy -a 'src=hosts.py dest=/root/hosts.py owner=root group=root mode=644 backup=yes'
```
]

---

.sidebar[
### Ansible 组件

* Inventory
* ad-hoc 命令
]

.content[
#### 包和服务管理

```bash
ansible docker -m yum -a 'name=httpd state=latest' -f 5 -o
```
]

---

.sidebar[
### Ansible 组件

* Inventory
* ad-hoc 命令
]

.content[
#### 用户管理

先通过 openssl 生成一个密码，因为 ansible user 的 `password` 参数需要接收加密后的值：

```bash
echo Password@1 | openssl passwd -1 -stdin
```

然后使用 user 模块批量创建用户

```bash
ansible docker -m user -a 'name=exschool password="$1$GPMkU7YL$.qu3Nsdfwee.TPfsgasdfg"' -f 5 -o
```
]

---

.sidebar[
### Ansible 组件

* Inventory
* ad-hoc 命令
* Playbook
]

.content[
Playbook 是 Ansible 进行配置管理的组件

ad-hoc 命令无法支撑复杂环境的配置管理工作
]

---

.sidebar[
### Ansible 组件

* Inventory
* ad-hoc 命令
* Playbook
* facts
]

.content[
facts 组件是 Ansible 用于采集被管机器设备信息的一个功能

可以使用 `setup` 模块查看机器的所有 facts 信息，可以使用 `filter` 来查看指定信息

```bash
ansible 192.168.70.186 -m setup

ansible 192.168.70.186 -m setup -a 'filter=ansible_all_ipv4_address'
```
]

---

.sidebar[
### Ansible 组件

* Inventory
* ad-hoc 命令
* Playbook
* facts
* role
]

.content[
role 是对日常使用的 playbook 的目录结构的一些规范，便于维护大量不同业务的 playbooks.

```
|-- roles
|  |-- nginx
|     |-- files
|     |  |-- index.html
|     |-- handlers
|     |  |-- main.yaml
|     |-- tasks
|     |  |-- main.yaml
|     |-- templates
|     |  |-- nginx.conf.j2
|     |-- vars
|        |-- main.yaml
|-- site.yaml
```
]

---

.sidebar[
### Ansible 组件

* Inventory
* ad-hoc 命令
* Playbook
* facts
* role
* Galaxy
]

.content[
Ansible Galaxy 是 Ansible 官方一个分享 role 的功能平台

https://galaxy.ansible.com/list#/roles
]

---

name: playbook

.sidebar[
### Playbook

* 基本语法
]

.content[
Ansible 的 playbook 文件格式为 YAML 语法，所以需要对 YAML 语法有一定的了解

Ansible 的 inventory 文件为 ini 文件格式。

Ansible 的模板语法为 Python 的 Jinja2 模板引擎。

可以使用 `--syntax-check` 参数进行语法检测：

```bash
ansible-playbook nginx.yaml --syntax-check
ansible-playbook nginx.yaml --list-task
ansible-playbook nginx.yaml --list-hosts
```

确认信息都正确后，可以直接运行：

```bash
ansible-playbook -i hosts nginx.yaml -f 3
```
]

---

name: playbook

.sidebar[
### Playbook

* 基本语法
]

.content[
后续如果需要更改 Nginx 配置，只需修改 nginx.conf.j2 模板即可

在运行 playbook 时可以指定从哪个 task 开始运行：

```bash
ansible-playbook -i hosts nginx.yaml -f 3 --start-at-task='Copy Nginx.conf'
```

通过 `--step` 参数也可以交互式地执行 task 
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
]

.content[
#### 通过 inventory 文件定义主机及主机组变量

inventory 文件

```ini
192.168.70.186 key=186
[docker]
192.168.70.186
[docker:vars]
ansible_ssh_user=leke
```

playbook 文件：

```yaml
---
  - hosts: all
    gather_facts: False
    tasks:
      - name: display host variable from hostfile
        debug: msg="The {{ inventory_hostname }} Value is {{ key }}"
```

运行：

```bash
ansible-playbook variable.yaml
```
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
]

.content[
#### 通过 /etc/ansible/ 下的文件定义主机及主机组变量

默认配置文件是在 `/etc/ansible/` 目录下，我们可以在该目录下创建 `host_vars` 和 `group_vars` 目录来给主机和主机组定义变量。
也可以在当前目录下创建这两个目录进行定义。

```
|-- ansible.cfg
|-- group_vars
|  |-- nginx
|-- hosts
|-- host_vars
   |-- 192.168.70.186
   |-- 192.168.70.187
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
]

.content[
#### 通过 ansible-playbook 命令行传入

可以通过命令行参数来定义变量，但默认传进去的变量都是全局变量：

```bash
ansible-playbook variable.yaml -e "key=KEY"
```

当然也支持同时传多个变量。
还支持指定文件的方式传入变量，内容格式支持 YAML 和 JSON 两种：

```bash
ansible-playbook variable.yaml -e "@vars.json"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
]

.content[
#### 在 playbook 文件中使用 vars

可以在 playbook 文件中通过 `vars` 字段来定义变量

```yaml
---
  - hosts: all
    gather_facts: False
    vars:
      key: Ansible
    tasks:
      - name: display Host variable from vars field
        debug: msg="The {{ inventory_hostname }} Value is {{ key }}"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
]

.content[
#### 在 playbook 文件中使用 vars_files

还可以在 playbook 文件中通过 `vars_files` 字段引用变量

```yaml
---
  - hosts: all
    gather_facts: False
    vars_files:
      - vars.yaml
    tasks:
      - name: display Host variable from vars_files field
        debug: msg="The {{ inventory_hostname }} Value is {{ key }}"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
]

.content[
#### 使用 register 内的变量

Ansible playbook 中的 task 之间可以通过 register 的方式相互传递数据：

```yaml
---
  - hosts: all
    gather_facts: False
    tasks:
      - name: register variable
        shell: hostname
        register: info
      - name: display variable
        debug: msg="The variable is {{ info }}"
```
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
]

.content[
#### 使用 vars_prompt 传入

可以在运行 playbook 时交互式的给定义好的参数传入变量值，只需要在 playbook 中定义 `vars_prompt` 的变量名和交互式提示内容即可：

```yaml
---
  - hosts: all
    gather_facts: False
    vars_prompt:
      - name: "foo"
        prompt: "Please input foo value"
        private: no
      - name: "bar"
        prompt: "Please input bar value"
        default: 'good'
        private: yes
    tasks:
      - name: display foo value
        debug: msg="foo is {{ foo }}"
      - name: display bar value
        debug: msg="bar is {{ bar }}"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
]

.content[
#### 变量的引用

变量的引用方式相对较少，都是根据变量的值的类型相对应的 `{{ key }}`、`{{ key['field'] }}`、、`{{ key[0]['field'] }}` 等固定格式。
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
]

.content[
#### 标准 loops

可以使用 loops 的方式去编写 playbook ，减少编写 tasks 的次数

```yaml
---
  - hosts: all
    gather_facts: False
    tasks:
      - name: debug loops
        debug: msg="name ---> {{ item }}"
        with_items:
          - one
          - two
```
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
]

.content[
#### 嵌套 loops

实现笛卡尔积

```yaml
---
  - hosts: all
    gather_facts: False
    tasks:
      - name: debug loops
        debug: msg="name ---> {{ item[0] }}  value ---> {{ item[1] }}"
        with_nested:
          - ['A']
          - ['a', 'b', 'c']
```
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
]

.content[
#### 散列 loops

```yaml
---
  - hosts: all
    gather_facts: False
    vars:
      user:
        walle:
          name: walle
          job: Garbage Collection
        eva:
          name: eva
          job: Health Management
    tasks:
      - name: debug loops
        debug: msg="item: {{ item.key }} ; name: {{ item.value.name }} ; job: {{ item.value.job }}"
        with_dict: user
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
]

.content[
#### 文件匹配 loops

通过 `with_fileglob` 循环匹配需要处理的文件：

```yaml
---
  - hosts: all
    gather_facts: False
    tasks:
      - name: debug loops
        debug: msg="files ---> {{ item }}"
        with_fileglob:
          - /root/*.yaml
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
]

.content[
#### 随机选取 loops

```yaml
---
  - hosts: all
    gather_facts: False
    tasks:
      - name: debug loops
        debug: msg="name ---> {{ item }}"
        with_random_choice:
          - "ansible 1"
          - "ansible 2"
          - "ansible 3"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
]

.content[
#### 条件判断 loops

有时需要循环检测，直到 task 的结果达到预想的状态才退出任务执行：

```yaml
---
  - hosts: all
    gather_facts: False
    tasks:
      - name: debug loops
        shell: cat /root/Ansible
        register: host
        until: host.stdout.startsWith("Master")
        retries: 5
        delay: 5
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
]

.content[
#### 文件优先匹配 loops

文件优先匹配会根据传入的变量或文件从上往下匹配，将第一个匹配到的文件，作为 `{{item}}` 的值：

```yaml
---
  - hosts: all
    gather_facts: True
    tasks:
      - name: debug loops
        debug: msg="files ---> {{ item }}"
        with_first_found:
          - "{{ ansible_distribution }}.yaml"
          - "default.yaml"
```
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
]

.content[
#### register loops

一般 register 用在单一的 task 中进行变量临时存储，但它还可以同时接受多个 task 的结果：

```yaml
---
  - hosts: all
    gather_facts: True
    tasks:
      - name: debug loops
        shell: "{{ item }}"
        with_items:
          - hostname
          - uname
        register: ret
      - name: display loops
        debug: msg=""{% for i in ret.results %} {{ i.stdout }} {% endfor %}"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
* lookups
]

.content[
Ansible 支持从外部数据拉取信息，这就是 lookups 插件
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
* lookups
]

.content[
#### lookups file

```yaml
---
  - hosts: all
    gather_facts: False
    vars:
      contents: "{{ lookup('file', '/etc/sysconfig/network') }}"
    tasks:
      - name: debug lookups
        debug: msg="The contents is {% for i in contents.split('\n') %} {{ i }} {% endfor %}"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
* lookups
]

.content[
#### lookups password

它会对传入的内容进行加密处理：

```yaml
---
  - hosts: all
    gather_facts: False
    vars:
      contents: "{{ lookup('password', 'ansible_book') }}"
    tasks:
      - name: debug lookups
        debug: msg="The contents is {{ contents }}"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
* lookups
]

.content[
#### lookups pipe

在被管机器上调用 `subprocess.Popen` 执行命令，并将命令结果传递给变量：

```yaml
---
  - hosts: all
    gather_facts: False
    vars:
      contents: "{{ lookup('pipe', 'date +%Y-%m-%d') }}"
    tasks:
      - name: debug lookups
        debug: msg="The contents is {% for i in contents.split('\n') %} {{ i }} {% endfor %}"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
* lookups
]

.content[
#### lookups redis_kv

`redis_kv` 从 Redis 数据库中 `get` 数据，然后给 Ansible 设置值。需要中控机连接 Redis ，因此需要安装 Redis Python 库。

```yaml
---
  - hosts: all
    gather_facts: False
    vars:
      contents: "{{ lookup('redis_kv', 'redis://localhost:6379,ansible') }}"
    tasks:
      - name: debug lookups
        debug: msg="The contents is {% for i in contents.split('\n') %} {{ i }} {% endfor %}"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
* lookups
]

.content[
#### lookups template

`template` 类似与 `file`，但它会将模版文件渲染后再读取:

```yaml
---
  - hosts: all
    gather_facts: False
    vars:
      contents: "{{ lookup('template', './lookups.j2') }}"
    tasks:
      - name: debug lookups
        debug: msg="The contents is {% for i in contents.split('\n') %} {{ i }} {% endfor %}"
```

]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
* lookups
* conditionals
]

.content[
目前 Ansible 所有 conditionals 方式都是使用 `when` 进行判断，条件成立时执行某个 task ，否则跳过这个 task 。

这个条件就是 Python 里的 True 和 False ， 也支持多个条件的 `and` 或 `or` 。

```yaml
---
  - hosts: all
    tasks:
      - name: host 192.168.70.186 run this task
        debug: msg="{{ ansible_default_ipv4.address }}"
        when: ansible_default_ipv4.address = "192.168.70.186"
      - name: memtotal < 500M and processor_cores == 2 run this task
        debug: msg="{{ ansible_fqdn }}"
        when: ansible_memtotal_mb < 500 and ansible_processor_cores == 2
      - name: all host run this task
        shell: hostname
        register: info
      - name: hostname is python machine run this task
        debug: msg="{{ ansible_fqdn }}"
        when: info['stdout'] == "python"
      - name: hostname startsWith M run this task
        debug: msg="{{ ansible_fqdn }}"
        when: info['stdout'].startWith('M')
``` 
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
* lookups
* conditionals
* Jinja2 filter
]

.content[
Jinja2 是 Ansible 默认的模版语言，Ansible 支持 Jinja2 语言的内置 filter 
]

---

.sidebar[
### Playbook

* 基本语法
* 变量与引用
* 循环
* lookups
* conditionals
* Jinja2 filter
* 内置变量
]

.content[
playbook 有很多内置变量，可以方便地实现主机相关的逻辑判断：

* `groups` 会打印出 inventory 文件里面所有的主机以及主机组信息和
* `group_names` 会打印当前主机所在的 groups 名称，如果没有定义会返回 `ungrouped`
* `hostvars` 用来调用指定主机的变量，需要传入主机信息
* `inventory_hostname` 返回 inventory 文件里面定义的主机名
* `inventory_hostname_short` 返回 inventory 文件中主机名的第一部分
* `play_hosts` 用来返回当前 playbook 运行的主机信息
* `inventory_dir` 返回当前 playbook 使用的 inventory 目录

]

---

name: best-practice

.sidebar[
### 最佳实践

* 优化速度
]

.content[
#### 开启 SSH 长连接

OpenSSH 5.6 以后 SSH 就支持了 Multiplexing ，所以先升级中控主机的 SSH 到 5.6 以上。

然后在 ansible.cfg 文件中设置 SSH 长连接即可：

```ini
sh_args = -o ControlMaster=auto -o ControlPersist=5d
```

这里整个长连接保持的时间设置为了 5 天。

开启后，通过 SSH 连接过的设备都会在当前 `ansible/cp/` 目录下生成一个 socket 文件。

]

---

.sidebar[
### 最佳实践

* 优化速度
]

.content[
#### 开启 pipelining

pipelining 也是 OpenSSH 的一个特性。
Ansible 默认的执行流程中，有一个过程是会将生成好的本地 Python 脚本 PUT 到远端服务器；
开启 pipelining 后，这个过程将在 SSH 的会话中进行，大大提高执行效率。

开启 pipelining 需要被控机 `/etc/sudoers` 文件编辑当前 Ansible SSH 用户的配置为 `requiretty`

在 ansible.cfg 中设置 pipelining 为 True

```ini
pipelining = True
```
]

---

.sidebar[
### 最佳实践

* 优化速度
]

.content[
#### 开启 accelerate 模式

accelerate 模式类似与前面 SSH 的 Multiplexing ，但 accelerate 使用的是 Python 程序在远端机器上运行一个守护进程。

只要在 playbook 中配置 `accelerate: True` 即可开启 accelerate 模式，
但开启 accelerate 模式需要中控机与远端机器都安装 `python-keyczar` 软件包。

可以在 ansible.cfg 中定义一下 accelerate 参数：

```ini
[accelerate]
accelerate_port = 5099
accelerate_timeout = 10
accelerate_connect_timeout = 5.0
```

]

---

.sidebar[
### 最佳实践

* 优化速度
]

.content[
#### 设置 facts 缓存

执行 playbook 时，默认第一个 task 都是 `GATHERING FACTS`, 这个任务就是 Ansible 收集每台主机的 facts 信息。

当不需要 facts 信息时，可以在 playbook 中设置 `gather_facts: False` 来提高效率。

当确实需要 facts ，又想加速这个过程，就需要配置 facts 缓存了。

目前 Ansible 支持使用 JSON 文件存储 facts 信息：

```ini
gathering = smart
fact_caching_timeout = 86400
fact_caching = jsonfile
fact_caching_connection = /dev/shm/ansible_fact_cache
```
]

---

.sidebar[
### 最佳实践

* 优化速度
]

.content[
#### 设置 facts 缓存

还可以通过 Redis 来存储 facts 信息。目前 facts 存储还不支持远端，所以需要在中控机上安装 Redis 服务。

```ini
gathering = smart
fact_caching_timeout = 86400
fact_caching = redis
```

]

---

.sidebar[
### 最佳实践

* 优化速度
* 目录结构
]

.content[
官网最佳实践推荐的 Ansible 工作目录结构：

```
|-- production              # production 环境的 inventory 文件
|-- stage                   # stage 环境的 inventory 文件
|-- group_vars/
   |-- group1               # 分组变量定义
|-- host_vars/
   |-- hostname1            # 主机变量定义
|-- library/                # 自定义模块存放目录
|-- filter_plugins/         # 自定义 filter 插件存放目录
|-- site.yaml               # playbook 统一入口
|-- webservers.yaml         # 特殊任务 playbook 文件
|-- roles/                  # role 存放目录
   |-- common/              # common 角色 目录
      |-- tasks/
         |-- main.yaml      # common 角色 task 入口
      |-- handlers/
         |-- main.yaml      # common 角色 handlers 入口
      |-- templates/
         |-- ntp.conf.j2    # common 角色 templates 文件
      |-- files/
         |-- foo.sh         # common 角色 files 资源文件
      |-- vars/
         |-- main.yaml      # common 角色 变量定义文件
      |-- defaults/
         |-- main.yaml      # common 角色 变量定义文件(优先级低)
      |-- meta/
         |-- main.yaml      # common 角色 依赖文件
   |-- webtier/             # webtier 角色 目录
   |-- monitoring/
   |-- fooapp/
```

]

---

.sidebar[
### 最佳实践

* 优化速度
* 目录结构
* 定义多环境
]

.content[
多个不同的环境使用多个 inventory 文件进行定义

尽量编写重复的 playbook 或 role

对环境有差异的地方，通过 `when` 对环境进行判断，差异化处理任务
]

---

.sidebar[
### 最佳实践

* 优化速度
* 目录结构
* 定义多环境
* 灰度发布与检测
]

.content[
实际配置部署过程中，为了保证整个配置部署的效率，一定要对自己编写的 playbook 或 role 进行相应的测试后，才能应用到生产环境

* 语法检测

运行 ansible-playbook 命令添加 `--syntax-check` 参数即可

* 灰度发布

将 task 使用 `delegate_to` 参数指定到某台设备上进行测试

* 是否达到预想

使用 `--check` 和 `--diff` 参数去对比生成后的文件是否为我们所需的文件

]

---

.sidebar[
### 最佳实践

* 优化速度
* 目录结构
* 定义多环境
* 灰度发布与检测
* 统一管理
]

.content[
Ansible 的工作目录放到版本管理系统中进行统一管理，方便版本管理和多人协作
]

---

.sidebar[
### 最佳实践

* 优化速度
* 目录结构
* 定义多环境
* 灰度发布与检测
* 统一管理
* ansible-shell
]

.content[
ansible-shell 是一个开源项目，通过交互式的模式把所有 ad-hoc 命令都引入了。
]

---

.sidebar[
### 扩展组件
]

---

name: vault

.sidebar[
### ansible-vault
]

---

class: center, middle

# 谢谢！

</textarea>
<script src="../../scripts/remark-latest.min.js"></script>
<script>
var slideshow = remark.create({
  highlightLines: true,
  highlightSpans: true
});
</script>
</body>
</html>